* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #990000;
}
button:active {
  background-color: #760000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

::-moz-selection {
  background-color: black;
  color: #cc0605;
}

::selection {
  background-color: black;
  color: #cc0605;
}

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.header {
  padding: 18px 0px;
  background-color: #cc0605;
  border-radius: 0px 0px 16px 16px;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__button {
  padding: 10px;
  border-radius: 16px;
}
.header__desctiption {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 30px;
}

.game-block {
  width: 290px;
  height: 290px;
}
.game-block__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 16px;
  overflow: hidden;
}
.game-block__list-item {
  background-color: #cc0605;
  width: 90px;
  height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-block__list-item:hover {
  background-color: #990000;
}
.game-block__list-item:active {
  background-color: #760000;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid white;
}

.cross {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.cross::before, .cross::after {
  content: "";
  position: absolute;
  background-color: white;
}

.cross::before {
  width: 20%;
  height: 100%;
  left: 50%;
  margin-left: -10%;
}

.cross::after {
  width: 100%;
  height: 20%;
  top: 50%;
  margin-top: -10%;
}

.game-block__player-name {
  color: #ffffff;
  margin-bottom: 90px;
}

.footer {
  padding: 18px 0px;
  background-color: #cc0605;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__description {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 920px;
  }
  .header__button {
    padding: 20px;
  }
  .game-block {
    width: 380px;
    height: 380px;
  }
  .game-block__list-item {
    width: 120px;
    height: 120px;
  }
}